@using MazzaWebSite.Resources;
@model MazzaWebSite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<section class="content-header">
    <h2>@Account.ForgotPassword</h2>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>@ViewContext.RouteData.Values["controller"]</a></li>
        <li class="active">@ViewContext.RouteData.Values["action"]</li>
    </ol>
</section>
@if (Request.IsAuthenticated)
{
    Response.Redirect("~/");
}
else
{
    using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <br />
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="col-lg-2 col-md-5 mb-3">
            @Html.LabelFor(m => m.Email, new { @class = "col-lg-6 control-label" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-envelope" />
                    </div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "col-lg-6 col-md-5 form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-2 col-md-5 mb-3">
            <div class="col-lg-2 col-md-5 mb-3">
                <button type="submit" class="btn btn-primary mb-3">@Account.Reset</button>
            </div>
        </div>
    }
}