@using MazzaWebSite.Resources;
@using MazzaWebSite.Models;
@model  Boh
@{
    ViewBag.Title = string.Format("{0} - {1}", General.Home, General.OMPTitle);
}
@Styles.Render("~/css/theme")

<br />
<br />

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <h2 class="title-1 m-b-25">@Dashboard.dashboard</h2>
        <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fas fa-trophy"></i>
                            </div>
                            <div class="text">
                                <h2>-1</h2>
                                <span>Rank</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <div class="text">
                                <h2>@Model.InvestmentReports.FirstOrDefault().AffiliateCount</h2>
                                <span>@Dashboard.AffiliateMember</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="text">
                                <h2>@Model.InvestmentReports.FirstOrDefault().TotalDeposit</h2>
                                <span>@Dashboard.TotalDeposit</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart3"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fas fa-hand-holding-usd"></i>
                            </div>
                            <div class="text">
                                <h2>@Model.InvestmentReports.FirstOrDefault().TotalWithdrawal</h2>
                                <span>@Dashboard.TotalWithdrawal</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart4"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="au-card recent-report">
                    <div class="au-card-inner">
                        <h3 class="title-2">recent reports</h3>
                        <div class="chart-info">
                            <div class="chart-info__left">
                                <div class="chart-note">
                                    <span class="dot dot--blue"></span>
                                    <span>products</span>
                                </div>
                                <div class="chart-note mr-0">
                                    <span class="dot dot--green"></span>
                                    <span>services</span>
                                </div>
                            </div>
                            <div class="chart-info__right">
                                <div class="chart-statis">
                                    <span class="index incre">
                                        <i class="zmdi zmdi-long-arrow-up"></i>25%
                                    </span>
                                    <span class="label">products</span>
                                </div>
                                <div class="chart-statis mr-0">
                                    <span class="index decre">
                                        <i class="zmdi zmdi-long-arrow-down"></i>10%
                                    </span>
                                    <span class="label">services</span>
                                </div>
                            </div>
                        </div>
                        @*<div class="recent-report__chart">
                            <canvas id="recent-rep-chart"></canvas>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="au-card chart-percent-card">
                    <div class="au-card-inner">
                        <h3 class="title-2 tm-b-5">char by %</h3>
                        <div class="row no-gutters">
                            <div class="col-xl-6">
                                <div class="chart-note-wrap">
                                    <div class="chart-note mr-0 d-block">
                                        <span class="dot dot--blue"></span>
                                        <span>products</span>
                                    </div>
                                    <div class="chart-note mr-0 d-block">
                                        <span class="dot dot--red"></span>
                                        <span>services</span>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-xl-6">
                                <div class="percent-chart">
                                    <canvas id="percent-chart"></canvas>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="title-1 m-b-25">Earnings By Items</h2>
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Package Name</th>
                                <th>Package Total</th>
                                <th>Package Percentage</th>
                                <th>Deposit Percentage</th>
                                <th>Package Percentage</th>
                                <th>Profit</th>
                                <th>Accumulate Commission</th>
                                <th>Destinate Commission</th>
                                <th>Commission %</th>
                                <th>Next Payout</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var investment in Model.InvestmentReports)
                            {
                                <tr>
                                    <td>@investment.PackageName</td>
                                    <td>@investment.PackageTotal</td>
                                    <td>@investment.PackagePercentage</td>
                                    <td>@investment.DepositPercentage</td>
                                    <td>@investment.PackagePercentage</td>
                                    <td>@investment.Profit</td>
                                    <td>@investment.AccumulateCommission</td>
                                    <td>@investment.DestinateCommission</td>
                                    <td>@investment.Commission</td>
                                    <td>@investment.NextPayout.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <h2 class="title-1 m-b-25">@Dashboard.Affiliate</h2>
            <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                <div class="au-card-inner">
                    <div class="table-responsive">
                        <table class="table table-top-countries">
                            <thead>
                                <tr>
                                    <th>@Account.FirstName</th>
                                    <th>@Account.LastName</th>
                                    <th>@Dashboard.ActiveOn</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AffiliateLists.Count > 0)
                                {
                                    foreach (var affiliate in Model.AffiliateLists)
                                    {
                                        <tr>
                                            @if (affiliate.IsActive != 0)
                                            {
                                                <td class="text-success">@affiliate.FirstName</td>
                                                <td class="text-success">@affiliate.LastName</td>
                                                <td>@affiliate.ActiveDate.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">@affiliate.FirstName</td>
                                                <td class="text-danger">@affiliate.LastName</td>
                                                <td class="text-danger">-</td>
                                            }

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td style="text-align:center" colspan="3">@Dashboard.NotMember</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />